body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 500px;
    margin: 0 auto;
}
.slider {
    margin-top: 50px;
    padding: 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 280px;
    max-width: 380px;
    overflow: hidden;
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        transition: all 1s;
    }
}
.row {
    margin-top: 10px;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}